GITHUB_ACCESS_TOKEN=
NEXT_PUBLIC_WEBSITE_DOMAIN=
# domain should be without http or https
# for example: ankit-kr-chowdhury.vercel.app
NEXT_PUBLIC_GITHUB_USERNAME=
# your GitHub username, for example: gitcommitankit